<div id="fullDiv"> 
    <div id="formDiv">
        <form [formGroup]="formGroup" (ngSubmit)="login()">
        <table >
            <tr>
                <td>
                    <strong class="title">Username:</strong>
                    <br>
                    <input placeholder="Username"  formControlName="username">
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="title">Password:</strong>
                    <br>
                    <input type="password" placeholder="Password" formControlName="password">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button id="submitButton" type="submit">Login</button>
                </td>
            </tr>
        </table>

        </form>
        <br>
    </div>
    <div id="errorDiv" *ngIf = "errorResult">
        Username or password is incorrect!
    </div>
</div>
