<div>
  <span *ngIf = "authorize; then condition1 else condition2">
     Condition is valid.
  </span>
  <ng-template #condition1>
    <app-dashboard></app-dashboard>
  </ng-template>
  <ng-template #condition2>
    <app-login></app-login>
  </ng-template>
</div>