.divElement{
    margin-left:auto;
    margin-right: auto;
}

.formControl{
    height:25px;
    margin:5px;
    width:150px;
    outline: none;
    border: none;
}

.form-small{
    width:60px !important;
    height:30px;
}

.form-Xsmall{
    width:20px !important;
    height:20px !important;
}

.form-select{
    height:27px !important;
}

.form-small-select{
    width:150px !important;
}

.form-date{
    height:27px !important;
}

.form-button{
    background: #f2e747;
    color:black;
    font-weight: bold;
}

.form-button:active {
    background-color: skyblue;
  }

table {
    border-collapse: collapse;
    border-color: skyblue;
}

#UsernameTitle{
    color:white;
    font-weight: bold;
    position: absolute;
    top:30px;
}

.addForm{
    width:250px !important;
}

.addFormTitles{
    margin:5px;
    color:white;
    font-weight: bold;
}

.tableHeader{
    font-size:20px;
    color:white;
    font-weight: bold;
}

.dynamic-select{
    width:130px;
}