<div style="padding:10px;height:40px;background:#00a3e0;width:1000px;margin-bottom: 10px;" class="divElement">
    <a href="/"><span id="UsernameTitle">Hello {{username}}</span></a>
    <button style="float:right;" (click)="logout()" class="formControl form-button">Logout</button>
</div>

<div style="background:#00a3e0;padding:10px;width:1000px;" class="divElement">
    <form [formGroup]="searchForm" (ngSubmit)="search()"> 
        <input placeholder="Firstname"  formControlName="FirstName" class="formControl" maxlength="25">
        <input placeholder="Lastname"  formControlName="LastName" class="formControl" maxlength="30">
        <input placeholder="Personal number"  formControlName="PersonalNumber"  class="formControl" maxlength="11" numbersOnly>
        <select *ngIf="DetailSearchMode" formControlName="Gender"  class="formControl form-select">
            <option value="0">All</option>
            <option *ngFor="let Item of GenderList;" value="{{Item.id}}">{{Item.name}}</option>
        </select>
        <input *ngIf="DetailSearchMode" type="date" placeholder="birhtday"  formControlName="Birthday"  class="formControl form-date">
        <button (click)="clearSearchForm()"  class="formControl form-small form-button">Clear</button>
        <button id="submitButton" type="submit"  class="formControl form-small form-button">search</button>
        <button *ngIf="!DetailSearchMode" (click)="DetailSearchOn()"  class="formControl form-Xsmall form-button">+</button>
        <button *ngIf="DetailSearchMode" (click)="DetailSearchOff()"  class="formControl form-Xsmall form-button">-</button>
    </form>
</div>




<div style="width:900px;background:#00a3e0;margin-top: 10px;" class="divElement">
    <table border style="width:100%;">
        <tr>
            <td colspan="7">
                <button (click)="ShowAddForm()" class="formControl form-button">Add person</button>
            </td>
        </tr>
        <tr>
            <th>N</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Personal number</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let Item of userList| paginate: { id:'userPagination', itemsPerPage: 5, currentPage: p, totalItems: userList.count }">
            <td>{{Item.id}}</td>
            <td>{{Item.firstName}}</td>
            <td>{{Item.lastName}}</td>
            <td>{{Item.personalNumber}}</td>
            <td>{{formatDate(Item.birthday)}}</td>
            <td align="center">
                <select class="formControl dynamic-select" disabled>
                    <option *ngFor="let gender of GenderList;" value="{{gender.id}}" [selected]="Item.gender==gender.id">{{gender.name}}</option>
                </select>
            </td>
            <td><button (click)="detail(Item.id)" class="formControl form-small form-button">Detail</button></td>
            <td><button (click)="fillForm(Item.id)" class="formControl form-small form-button">Edit</button></td>
            <td><button (click)="delete(Item.id)" class="formControl form-small form-button">Delete</button></td>
        </tr>
    </table>
</div>



<div *ngIf = "showAddForm" style="width:100%;height:100%;background:black;position:absolute;top:0;left:0px;z-index:10;opacity: 0.7;"></div>
<div *ngIf = "showAddForm"  style="position:fixed;width:1050px;min-height:500px;background:#00a3e0;left: 50%;transform: translate(-50%, 0);top:100px;z-index:20;">
    <button style="float:right;" (click)="CloseAddForm()" class="formControl form-Xsmall form-button">X</button>
    <table style="width:100%;" border>
        <tr >
            <td style="width:240px;" align="center">
                <span class="tableHeader">Person info</span>
            </td>
            <td style="width:360px;" align="center">
                <span class="tableHeader">Relation info</span>
                <button class="formControl form-Xsmall form-button"  (click)="addRelation()" *ngIf = "!DetailMode">+</button>
            </td>
            <td style="width:360px;" align="center">
                <span class="tableHeader">Contact</span>
                <button class="formControl form-Xsmall form-button"  (click)="addPhone()" *ngIf = "!DetailMode">+</button>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <fieldset [disabled] = "DetailMode">
                    <form [formGroup]="addForm">
                        <table>
                            <tr >
                                <td>
                                    <span class="addFormTitles">Firstname:</span>
                                    <br>
                                    <input placeholder="Firstname"  formControlName="FirstName" class="formControl addForm">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="addFormTitles">Lastname:</span>
                                    <br>
                                    <input placeholder="Lastname"  formControlName="LastName"  class="formControl addForm">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="addFormTitles">Gender:</span>
                                    <br>
                                    <select formControlName="Gender" class="formControl form-select addForm">
                                        <option value="0" disabled>Choose gender</option>
                                        <option *ngFor="let Item of GenderList;" value="{{Item.id}}">{{Item.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                
                                <td>
                                    <span class="addFormTitles">Personal number:</span>
                                    <br>
                                    <input placeholder="Personal number"  formControlName="PersonalNumber" class="formControl addForm" maxlength="11" numbersOnly>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="addFormTitles">Birthday:</span>
                                    <br>
                                    <input type="date" placeholder="birhtday"  formControlName="Birthday" class="formControl addForm">
                                </td>
                            </tr>
                        </table>
                    </form>
                </fieldset>
            </td>
            <td valign="top">
                <fieldset [disabled] = "DetailMode">
                     <form [formGroup]="RelationForm">
                        <table >
                            <tr>
                                <td style="width:320px;">
                                    <span class="addFormTitles">Person:</span> 
                                    <span class="addFormTitles" style="margin-left:80px;">Relation type:</span> 
                                <div formArrayName="relations">
                                    <div *ngFor="let relation of relations.controls; let i=index">
                                        <div [formGroupName]="i">
                                                <select  formControlName="RelationId" class="formControl dynamic-select">
                                                    <option selected disabled>Choose person</option>
                                                    <option *ngFor="let Item of userList;" value="{{Item.id}}">{{Item.firstName}}</option>
                                                </select>
                                                <select  formControlName="RelationTypeid" class="formControl dynamic-select">
                                                    <option selected disabled>Choose relation type</option>
                                                    <option *ngFor="let Item of RelationTypeList;" value="{{Item.id}}">{{Item.name}}</option>
                                                </select>
                                            <button (click)="removeRelation(i)" class="formControl form-Xsmall form-button" *ngIf = "!DetailMode">X</button>
                                        </div>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </fieldset>
            </td>
            <td valign="top">
                <fieldset [disabled] = "DetailMode">
                    <form [formGroup]="PhoneForm">
                       <table >
                           <tr>
                               <td style="width:330px;">
                                   <span class="addFormTitles">Phone:</span> 
                                   <span class="addFormTitles" style="margin-left:80px;">Phone type:</span> 
                               <div formArrayName="phones">
                                   <div *ngFor="let phone of phones.controls; let i=index">
                                       <div [formGroupName]="i">
                                               <input  formControlName="phoneNumber" class="formControl dynamic-select" numbersOnly>
                                               <select  formControlName="phoneTypeId" class="formControl dynamic-select">
                                                   <option selected disabled>Choose phone type</option>
                                                   <option *ngFor="let Item of PhoneTypeList;" value="{{Item.id}}">{{Item.name}}</option>
                                               </select>
                                           <button (click)="removePhone(i)" class="formControl form-Xsmall form-button" *ngIf = "!DetailMode">X</button>
                                       </div>
                                   </div>
                                   </div>
                               </td>
                           </tr>
                       </table>
                   </form>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center" *ngIf = "!DetailMode">
                <button (click)="addEditPerson()" class="formControl form-small form-button">Save</button>
            </td>
        </tr>
    </table>
</div>

<div style="text-align: center;">
    <pagination-controls (pageChange)="p=$event" id="userPagination"></pagination-controls>
</div>
   